@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('./base.css');


* {
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--text-primary)
}

html {
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

body {
    overflow: hidden;
    background-color: var(--bg-primary);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1, h2 {
    color: var(--text-primary)
}

.toolbar-btn {
    height: 54px;
    width: 54px;
}

#title-bar {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    background-color: var(--bg-sidebar);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border);
}

#title-bar-btns button {
    -webkit-app-region: no-drag;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: var(--bg-sidebar);
}

#title-bar-text {
    color: white;
    font-weight: bolder;
}



#reg-form {
    height: 100%;
}

#reg-form form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stand-inp {
    margin: 10px;
    outline: none;
    font-size: 18px;
    padding: 6px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--bg-input);
    transition: var(--transition);
}

.stand-inp:focus {
    box-shadow: 0px 0px 5px var(--accent);
    transition: var(--transition);
}

.primary-btn {
    margin-top: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: var(--radius);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--accent);
}

.mes-inp {
    height: auto;
    padding: 20px;
    background-color: var(--bg-chat);
    backdrop-filter: blur(10px);
    border-top-color: var(--border);
    border-top-width: 1px;
    border-top-style: solid;
}

.mes-input-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2px;
    border-radius: 10px;
    background-color: var(--bg-input);
    border-width: 2px;
    border-color: var(--accent);
    border-style: solid;
    transition: all 0.8s ease-in-out;
}

.mes-input-line.focused {
    box-shadow: 0px 0px 8px var(--accent);
    transition: all 0.8s ease-in-out;
}

.mes-input-line textarea {
    margin-left: 5px;
    height: 100%;
    flex-grow: 1;
    background-color: #00000000;
    outline: none;
    border: none;
}

.mes-input-line button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}